<div class="row">
	<div class="col-lg-12">

		<form th:object="${stockTransferForm}" id="stockTransferForm"
			th:action="@{/api/stock/transfer}" method="POST">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row ">
						<div class="col-md-8">
							<h4>Stock Transfer</h4>
						</div>
						<div class="col-md-4">
							<div class="btn-group pull-right" role="group">
								<button type="submit" id="submitStockTransferBtn"
									class="btn btn-success btn-sm">Save Stock Transfer</button>
								<a th:href="@{/stock/transfer}" class="btn btn-default btn-sm">Cancel</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div class="form-group" id="errors"></div>

					<div class="col-md-3">

						<label>System Number :</label> <input type="text"
							class="form-control" disabled="disabled"> <label>Document
							Number :</label> <input type="text" class="form-control"
							th:field="*{document_number}">
					</div>

					<div class="col-md-3">
						<label>Location From</label> <select class="form-control"
							th:field="*{fromLocation}">
							<option th:each="location : ${locations}"
								th:value="${location.id}" th:text="${location.name}"></option>
						</select> <label>Location To</label> <select class="form-control"
							th:field="*{toLocation}">
							<option th:each="location : ${locations}"
								th:value="${location.id}" th:text="${location.name}"></option>
						</select>
					</div>

					<div class="col-md-3">
						<label>Transaction Date:</label> <input type="text"
							th:field="*{transactionDate}" class="form-control"> <label>Year
							:</label> <input type="text" class="form-control yearselect"
							th:field="*{year}">

					</div>

					<div class="col-md-12">
						<label>Description</label> <input type="text"
							th:field="*{description}" class="form-control">
					</div>

					<div class="col-md-12">
						<br/>
						<button class="btn btn-success btn-sm" id="btnAddItem">Add
							Item</button>
					</div>

					<div class="table-responsive col-md-12">

						<table class="table table-bordered table-striped" id="itemsTable">
							<thead>
								<tr>
									<th>SN</th>
									<th>Code</th>
									<th class="col-md-3">Description</th>
									<th style="display: ;">Brand</th>
									<th>Unit</th>
									<th style="display: none;">Quantity</th>
									<th style="display: none;">Unit Cost</th>
									<th style="display: none;" class="col-md-2 text-right">Subtotal</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
							<tfoot>
								<tr>
									<th colspan="4"></th>
									<th><h3>Total</h3></th>
									<th><h3 class="text-right" id="grandTotal"></h3></th>
									<th></th>
								</tr>
							</tfoot>
						</table>

					</div>

				</div>
			</div>

		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Item Modal -->
<div th:include="includes/modals/itemModal_simple"></div>

<!-- DataTables JavaScript -->
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>

<script>
	
	
	filterLocations();
	
	function updateTextInput(val) {
    	document.getElementById('textInput').value=val; 
  	}
	
	function filterLocations(){
		var fromLocation 	= $("#fromLocation");
		var toLocation 		= $("#toLocation");
		var excluded 		= toLocation.find("option[value='"+fromLocation.val()+"']");
		
		excluded.attr("disabled", true);
		excluded.hide();
		var hasFound = false;
		toLocation.find("option").each(function(){
			if(!hasFound && !$(this).attr("disabled")){
				toLocation.val($(this).val());
				toLocation.change();
				hasFound = true;
			}
		})
		
		fromLocation.unbind("change").change(function(e){
			toLocation.find("option").each(function(){
				$(this).removeAttr("disabled");
				$(this).show();
			})
			filterLocations();
		})
	}
	

/*<![CDATA[*/
var form = $("#stockTransferForm");
var current_year = (new Date()).getFullYear();

var submitStockTransferBtn = $("#submitStockTransferBtn");

var form_items = [];

  $( function() {
	  
    $( "#transactionDate" ).datepicker();
    
    $('.yearselect').yearselect({
    	order: 'desc',	
 		start: current_year - 5,
 		end: current_year + 5
    });
    
    $('[name=year]').val( current_year );

   	computeGrandTotal();
  });
  
  $("#btnAddItem").on("click", function() {
  	addItem({type: "stock_transfer", label:"Add Stock Transfer Item"}, function(data) {
  		
  		for(var i = 0; i < data.length; i++) {
  			form_items.push(data[i]);
  		}
  		
  		var html = ``;
  		for(var i = 0; i < form_items.length; i++) {
  		
  			var item = form_items[i];
  			
  			// default values
  			var unit = (item.unit ? item.unit : "0");
  			var quantity = (item.quantity ? item.quantity : "0");
  			var unitCost = (item.unitCost ? item.unitCost : "1.00");
  			var subtotal = (item.subtotal ? item.subtotal : "0.00");
  			
  			var units = JSON.parse(form_items[i].units);
  			
  			html += `<tr>
				<th id="lblItemId">`+ item.id +`<input type="hidden" name="stockTransferItems[`+i+`].item" value="`+item.id+`" /></th>
				<td id="lblItemName">`+ item.code +`</td>
				<td id="lblItemName">`+ item.name +`</td>
				<td id="lblItemName">`+ item.brand_name +`</td>`;
				
			html += `
			<td id="lblItemName">
				<select class="form-control" name="stockTransferItems[`+i+`].unit" id="unit" onChange="computeValues(this, `+i+`)">`;	
			for (var key in units) {
			    if (units.hasOwnProperty(key)) {
			    	html += `<option value="`+ key +`">`+ units[key] +`</option>`;
			    }
			}
			html +=	`</select>
			</td>`; 
				
			html +=	`
				<td id="lblItemName"><input type="number" name="stockTransferItems[`+i+`].quantity" id="quantity" onChange="computeValues(this, `+i+`)" class="form-control" value="`+ quantity +`" /></td>
				<td id="lblItemName" style="display: none;" ><input type="number" name="stockTransferItems[`+i+`].unitCost" id="unitCost" onChange="computeValues(this, `+i+`)" class="form-control" value="`+ unitCost +`" /></td>
				<td id="lblItemName" style="display: none;" class="text-right"><input type="hidden" name="subtotal[`+i+`]" id="subtotal" value="`+subtotal+`" /><span id="html_subtotal">`+subtotal+`</span></td>
				<td id="lblItemName" style="width:20px"><button class="btn btn-danger fa fa-times" onClick="remove(this, `+i+`)" /></td>
			</tr>`;
  		}
  	
  		var total = data.quantity * data.unit_cost;
  		
  		$('#itemsTable tbody').html(html);
  		computeGrandTotal();
  	});
  });
  
submitStockTransferBtn.click(function() {
  
 	var original_text = submitStockTransferBtn.text();
 	submitStockTransferBtn.attr("disabled", "disabled");
 	submitStockTransferBtn.text("Processing....");
 	
 	POST("/api/stock/transfer", form.serialize(), function(data) {
 		
 		if(data.status != "OK") {
 			displayErrors(data, $("#errors"));
 			submitStockTransferBtn.removeAttr("disabled");
 			submitStockTransferBtn.text(original_text);
 		} else {
 			window.location.replace('/stock/transfer')
 		}
 	});
});

function computeValues(element, index) {
	
	var each = [];
	var subtotal = 0.00;
	
	$.each($(element).closest("tr"), function() {
		
		$(this).find("select, input").each(function() {
			each[$(this).attr("id")] = $(this).val();
			form_items[index][$(this).attr("id")] = $(this).val();
			console.log($(this).attr("id") + " = " + $(this).val());
		});

	});

	console.log(form_items);
	
	subtotal = each.quantity * each.unitCost;
	
	form_items[index]["subtotal"] = subtotal;
	$(element).closest("tr").find("#subtotal").val(round2DecimalPlaces(subtotal));
	$(element).closest("tr").find("#html_subtotal").html(round2DecimalPlaces(subtotal));
	computeGrandTotal();
}

function remove(e, item_index) {
	form_items.splice(item_index, 1); // remove this element from the item array
	$(e).parentsUntil("tbody").remove();
	computeGrandTotal();
}

function computeGrandTotal() {
	
	var grand_total = parseFloat(0);
	
	$('#itemsTable > tbody  > tr').each(function() {
		grand_total = (parseFloat(grand_total) + parseFloat($(this).find("#html_subtotal").text())).toFixed(2);
	});
	
	$("#grandTotal").html(round2DecimalPlaces(grand_total));
}

	/*]]>*/
  </script>
</head>
<body>