<div class="">
	<!-- Title and action -->
	<div class="page-title">
		<div class="title_left">
			<h3>Stock Transfer</h3>
		</div>

		<div class="title_right">
			<div class="pull-right">
				<div class="input-group ">
					<a th:href="@{/stock/transfer/create}"
						class="btn btn-success btn-sm pull-right"> New Stock Transfer</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //Title and action -->

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">


			<div class="x_title">
				<div class="col-md-6">
					<h2>List of Transferred Stocks</h2>
				</div>
				<div class="col-md-6">
					<div id="reportrange" class="pull-right"
						style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span>December
							30, 2014 - January 28, 2015</span> <b class="caret"></b>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>


			<div class="x_content">

				<div class="table-responsive">

					<table class="table table-striped"
						id="salesInvoice-datatable" style="width: 100%">
						<thead>
							<tr>
								<th width="100px">System #</th>
								<th width="120px">Document #</th>
								<th class="col-md-3">From</th>
								<th class="col-md-3">To</th>
								<th class="col-md-2">Date</th>
							</tr>
						</thead>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script>
	
	var table = $('#salesInvoice-datatable');
	var datatable = customFixedDatatable(table, '/api/datatable/stocks/transfer', 
		[
        	{ 
        		data: "system_number",
        		render: function ( data, type, row ) {
                    return '<a href="/stock/transfer/'+ data +'">' + data + '</a>';
                } 
        	},
        	{ 
        		data: "document_number",
        		render: function ( data, type, row ) {
        			if(data) {
        				return '<a href="/stock/transfer/'+ row.system_number +'">' + data + '</a>';	
        			}
        			return '';
                }
        	},
        	{ data: "from_location_name" },
        	{ data: "to_location_name" },
        	{ data: "transaction_date" },
        	
    	]
	);
</script>