
<div class="x_title">
	<h2>Inventory</h2>

	<div class="clearfix"></div>
</div>
<div class="x_content">

	<table class="table table-striped" id="locationInventoryTable" width="100%">
		<thead>
			<tr>
				<th>#</th>
				<th>Item</th>
				<th>Unit</th>
				<th class="text-right">On Hand</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>

</div>

<script th:inline="javascript">
/*<![CDATA[*/
var table = $('#locationInventoryTable');
var datatable = customFixedDatatable(table, '/api/inventory/location/' + /*[[${location_id}]]*/ 0, 
	[
    	{ 
    		data: "item_id",
    		render: function ( data, type, row ) {
                return '<a href="/stock/opening/'+ data +'">' + data + '</a>';
            }
    	},
    	{ 
    		data: "item_name",
    		render: function ( data, type, row ) {
                return '<a href="/stock/opening/'+ row.system_number +'">' + data + '</a>';
            }
    	},
    	{ data: "unit_name" },
    	{ 
    		data: "on_hand", 
    		className: "text-right"
    	},
	]
);
/*]]>*/
</script>