<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3 th:text="${location.name}"></h3>
		</div>

		<div class="title_right">
			<div class="pull-right btn-group  btn-group-sm">
				<a class="btn btn-success btn-sm"><i
							class="fa fa-edit m-right-xs"></i> Edit Location Details</a>
				<a th:href="@{/locations}" class="btn btn-default btn-sm"><span
					class="fa fa-mail-reply"></span> Back to List of Locations</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="col-md-8 col-sm-8 col-xs-8 profile_left">
						

						<ul class="list-unstyled user_data">
							<li><i class="fa fa-map-marker user-profile-icon"></i> <span
								th:text="${location.address} + ', '"></span><span
								th:if="${location.addressCity != null}"
								th:text="' ' + ${location.addressCity} + ','"></span> <span
								th:text="${location.addressCountry.name}"></span></li>

							<li th:if="${location.telephone != null}"><i
								class="fa fa-phone user-profile-icon"></i> <span
								th:text="${location.telephone}"></span></li>

							<li th:if="${location.fax != null}"><i
								class="fa fa-fax user-profile-icon"></i> <span
								th:text="${location.fax}"></span></li>

							<li th:if="${location.mobile != null}"><i
								class="fa fa-mobile user-profile-icon"></i> <span
								th:text="${location.mobile}"></span></li>

							<li class="m-top-xs" th:if="${location.website != null}"><i
								class="fa fa-external-link user-profile-icon"></i> <a
								th:href="${location.website}" target="_blank"
								th:text="${location.website}"></a></li>
						</ul>

					</div>
				</div>
			</div>

			<div class="row">
				<!-- Inventory -->
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="x_panel tile" th:include="@{/locations/inventory}">
						
					</div>
				</div>
				<!-- //Inventory -->
				
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="x_panel" th:include="@{/locations/recent_activities}"></div>
				</div>
			
			</div>
			
		</div>
	</div>
</div>