<div class="row">
	<div class="col-lg-12"> 
		<!-- <div th:text="${salesInvoice.creditCardDetails.holdersName}"></div> -->
		<div class="panel panel-default">
			<div class="panel-heading">
				
				<div class="row">
					<h4 class="col-md-10" th:text="'System # ' + ${salesInvoice.systemNumber}"></h4>
					<a th:href="@{/sales/invoice}" type="button" class="btn btn-outline btn-default btn-sm">Back to List</a>
				</div>
			</div>
			<div class="panel-body">

				<div class="table-responsive">
				
					<table class="table table-bordered table-striped">
						<tbody>
							<tr>
								
								<td colspan="2" class="col-md-4">
								
									<div class="input-group col-md-12">
										<span class="input-group-addon">Document #</span>
										<span class="form-control" th:text="${salesInvoice.documentNumber}"></span>
									</div>
								</td>
								
								<td class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Sales Person</span>
										<span class="form-control" th:text="${StringUtils.userFullnameWithEmail(salesInvoice.salesPerson)}"></span>
									</div>
								</td>
								<td class="col-md-2">
									<div class="input-group">
										<span class="input-group-addon">Payment</span>
										<span class="form-control" th:text="${salesInvoice.paymentMethod}"></span>
									</div>
								</td>
							</tr>
							
							<tr>
								<td>
								
									<div class="input-group">
										<span class="input-group-addon">Date</span>
										<span class="form-control" th:text="${salesInvoice.transactionDate}"></span>
									</div>
								</td>
								<td class="col-md-1">
									<div class="input-group">
										<span class="input-group-addon">Year</span>
										<span class="form-control" th:text="${salesInvoice.year}"></span>
									</div>
								</td>
								
								<td colspan="2">
									<div class="input-group col-md-12">
										<span class="input-group-addon">Location</span>
										<span class="form-control" th:text="${salesInvoice.location.name}"></span>
									</div>
								</td>
							</tr>
							
							<tr>
								<td colspan="4">
									<div class="input-group col-md-12">
										<span class="input-group-addon">Description</span>
										<span class="form-control" th:text="${salesInvoice.description}"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
						
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>SN</th>
								<th>Code</th>
								<th>Description</th>
								<th>Unit</th>
								<th>U.Desc</th>
								<th>Quantity</th>
								<th>Unit Price</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr:block th:each="salesInvoiceItem : ${salesInvoice.salesInvoiceItems}">
								<th th:text="${salesInvoiceItem.item.id}"></th>
								<td th:text="${salesInvoiceItem.item.code}"></td>
								<td th:text="${salesInvoiceItem.item.name} + '( '+ ${salesInvoiceItem.item.defaultUnit.abbreviation} +' )'"></td>
								<td th:text="${salesInvoiceItem.unit.abbreviation}"></td>
								<td th:text="${salesInvoiceItem.unit.name}"></td>
								<td th:text="${salesInvoiceItem.rateQuantity}"></td>
								<td th:text="${salesInvoiceItem.unitCost}"></td>
								<td class="text-right" th:text="${salesInvoiceItem.unitCostTotal}"></td>
							</tr:block>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="6"></th>
								<th><h3>Total<h3></h3></th>
								<th><h3 class="text-right" th:text="${salesInvoice.total}"></h3></th>
							</tr>
						</tfoot>
					</table>
					
				</div>

			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="panel panel-info">
			    <div class="panel-heading">
			    	Customer Information
			    </div>
			    <div class="panel-body">
			    
			    	<table class="table table-bordered table-striped">
						<tbody>
							<tr>
								<th>
									<div class="input-group">
										<span class="input-group-addon">Customer</span>
										<span class="form-control" th:text="${StringUtils.userFullnameWithEmail(salesInvoice.customer)}"></span>
									</div>
								</th>
							</tr>
							<tr>
								<th>
									<div class="input-group">
										<span class="input-group-addon">Address</span>
										<span class="form-control" th:text="${salesInvoice.customer.address}"></span>
									</div>
								</th>
							</tr>
							<tr>
								<th>
									<div class="input-group">
										<span class="input-group-addon">Phone</span>
										<span class="form-control" th:text="${salesInvoice.customer.phone}"></span>
									</div>
								</th>
							</tr>
						</tbody>
					</table>
			    </div>
			</div>
		</div>
		<div class="col-lg-6" th:if="${salesInvoice.paymentMethod == T(com.bartolay.inventory.enums.PaymentMethod).CREDITCARD}">
		
			
			
				<div class="panel panel-warning">
				    <div class="panel-heading">
				        Credit Card Details
				    </div>
				    <div class="panel-body">
				    
					    <table class="table table-bordered table-striped">
							<tbody>
								<tr>
									<th colspan="2">
										<div class="input-group col-md-12">
											<span class="input-group-addon">Holders Name #</span>
											<span class="form-control" th:text="${salesInvoice.creditCardDetails.holdersName}"></span>
										</div>
									</th>
								</tr>
								<tr>
									<th colspan="2">
										<div class="input-group col-md-12">
											<span class="input-group-addon">Number</span>
											<span class="form-control" th:text="${salesInvoice.creditCardDetails.cardNumber}"></span>
										</div>
									</th>
								</tr>
								<tr>
									<th class="col-md-7">
										<div class="input-group col-md-12">
							                <span class="input-group-addon">EXP Date</span>
							                <span class="form-control" th:text="${salesInvoice.creditCardDetails.dateExpiry}"></span>
							            </div>
									</th>
									<th>
										<img class="img-responsive pull-right" th:src="@{/static/img/accepted_c22e0.png}">
									</th>
								</tr>
							</tbody>
						</table>
				        
				    </div>
				</div>
					
		</div>
		
	</div>
	<!-- /.col-lg-12 -->
</div>

<body>
 
