<div class="">
	<!-- Title and action -->
	<div class="page-title">
		<div class="title_left">
			<h3 th:text="${page}"></h3>
		</div>
	</div>

	<div class="clearfix"></div>
	<!-- //Title and action -->

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>List of Inventories</h2>
				<div class="pull-right">
					<div class="form-group ">
						<select class="form-control" name="location" id="location">
							<option value="0">-- All Locations --</option>
							<option th:each="location : ${locations}" th:value="${location.id}" th:utext="${location.name}"/>
						</select>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="x_content">

				<div class="table-responsive">
					<table class="table table-striped"
						id="openingStock-datatable">
						<thead>
							<tr>
								<th width="200px">Item code</th>
								<!-- <th>Name</th> -->
								<th>Unit</th>
								<th>On Hand</th>
								<th>On Order</th>
							</tr>
						</thead>

					</table>
					
					
					
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- DataTables JavaScript -->
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
	
<script
	th:src="@{/static/vendor/datatables/js/dataTables.rowGroup.min.js}"></script>

<script>
	var table = $('#openingStock-datatable');
	var locationObj = $("#location");
	var datatable = customFixedDatatableWithGroup(table, '/api/datatable/inventory/location', 
		[
	  	    { "visible": false },
	  	    { "orderable": true },
	  	    { "orderable": true },
	  	    { "orderable": true },
	 	    ],
		[
	        {
	           'targets': [0,1, 2, 3],
	        }
		],
		function ( d ) {
	        d.location = $('#location').val();
	    }
	);
	locationObj.unbind("change").change(function(e){
		datatable.ajax.reload();
	})
	
	
</script>