<div class="row">
	<div class="col-lg-12">

		<form th:object="${stockReceivedForm}" id="stockOpeningForm"
			th:action="@{/api/stock/received}" method="POST">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class=" col-md-12">
							<div class="btn-group pull-right" role="group">
								
								<button type="submit" id="submitStockOpeningBtn"
									class="btn btn-success btn-sm">Save Stock Received</button>
								<a th:href="@{/stock/received}" class="btn btn-default btn-sm">Cancel</a>
								
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div class="form-group" id="errors"></div>

					<div class="table-responsive">

						<table class="table table-bordered table-striped">
							<tbody>
								<tr>
									<td class="col-md-3">

										<div class="input-group">
											<span class="input-group-addon">Trans. Date</span> <input
												type="text" th:field="*{transactionDate}"
												class="form-control">
										</div>

									</td>
									<td class="col-md-2">
										<div class="input-group">
											<span class="input-group-addon">Year</span> <input
												type="text" class="form-control yearselect"
												th:field="*{year}">
										</div>
									</td>
									<td class="col-md-7">
										<div class="input-group">
											<span class="input-group-addon">Location</span> <select
												class="form-control" th:field="*{location}">
												<option th:each="location : ${locations}"
													th:value="${location.id}" th:text="${location.name}"></option>
											</select>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										<div class="input-group">
											<span class="input-group-addon">Document #</span> <input
												type="text" th:field="*{document_number}"
												class="form-control">
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="table table-bordered table-striped" id="itemsTable">
							<thead>
								<tr>
									<th>SN</th>
									<th>Code</th>
									<th class="col-md-3">Description</th>
									<th>Unit</th>
									<th>U.Desc</th>
									<th>Quantity</th>
									<th>Unit Cost</th>
									<th class="col-md-2">Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

							</tbody>
							<tfoot>
								<tr>
									<th colspan="6"></th>
									<th><h3>Total</h3></th>
									<th><h3 class="text-right" id="grandTotal"></h3></th>
									<th></th>
								</tr>
							</tfoot>
						</table>

						<div class="row">
							<div class="col-md-4">
								<button class="btn btn-success btn-xs" id="btnAddItem">Add
									Item</button>
							</div>
						</div>

					</div>

				</div>
			</div>

		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Item Modal -->
<div th:include="includes/modals/itemModal"></div>

<script>
/*<![CDATA[*/
var form = $("#stockOpeningForm");
var current_year = (new Date()).getFullYear();
var grand_total = 0;

var item_count = 0;
var submitStockOpeningBtn = $("#submitStockOpeningBtn");

  $( function() {
	  
    $( "#transaction_date" ).datepicker();
    
    $('.yearselect').yearselect({
    	order: 'desc',	
 		start: current_year - 5,
 		end: current_year + 5
    });
    
    $('[name=year]').val( current_year );

   
    $("#grandTotal").html(grand_total);
    
  });
  
  $("#btnAddItem").on("click", function() {
  	addItem({type: "stock_opening", label:"Add Stock Opening Item"}, function(data) {
  		
  		console.log(data);
  		
  		var item = data['item'];
  		var unit = data['unit'];
  		
  		var total = data.quantity * data.unit_cost;
  		grand_total = grand_total + total;
  		
  		var html = `
  		<tr>
				<th id="lblItemId">`+ item.id +`</th>
				<td id="lblItemCode">`+ item.code +`</td>
				<td id="lblItemName">`+ item.name +`</td>
				<td id="lblAbbreviation">`+ unit.abbreviation +`</td>
				<td id="lblUnitName">`+ unit.name +`</td>
				<td class="text-right" id="lblQuantity">`+ data.quantity +`</td>
				<td class="text-right" id="lblUnitCost">`+ data.unit_cost +`</td>
				<td class="text-right" id="lblTotal">`+ total +`</td>
				<td class="text-right">
					<input type="hidden" name="stockOpeningItems[`+ item_count +`].item" id="txtItem" value="` + item.id + `" />
					<input type="hidden" name="stockOpeningItems[`+ item_count +`].unit" id="txtUnit" value="` + unit.id + `" />
					<input type="hidden" name="stockOpeningItems[`+ item_count +`].quantity" id="txtQuantity" value="` + data.quantity + `" />
					<input type="hidden" name="stockOpeningItems[`+ item_count +`].unitCost" id="txtUnitCost" value="` + data.unit_cost + `" />
					<div class="btn-group" role="group">
		        		<button class="btn btn-info fa fa-edit" id="btnView" onClick="edit(this)"/>
		        		<button class="btn btn-danger fa fa-times" onClick="remove(this)" />
		    		</div>
				</td>
			</tr>`;
			item_count++;
  		$('#itemsTable tbody').append(html);
  		$("#grandTotal").html(grand_total);
  	});
  });
  
submitStockOpeningBtn.click(function() {
  
 	var original_text = submitStockOpeningBtn.text();
 	submitStockOpeningBtn.attr("disabled", "disabled");
 	submitStockOpeningBtn.text("Processing....");
 	
 	POST("/api/stock/opening", form.serialize(), function(data) {
 		console.log(data);
 		
 		if(data.status != "OK") {
 			displayErrors(data, $("#errors"));
 			submitStockOpeningBtn.removeAttr("disabled");
 			submitStockOpeningBtn.text(original_text);
 		} else {
 			window.location.replace('/stock/opening')
 		}
 	});
});
  
function edit(e) {
	var selected_row = $(e).parentsUntil("tbody");
	
	var values = {
		item: selected_row.find("#txtItem").val(),
		unit: selected_row.find("#txtUnit").val(),
		quantity: selected_row.find("#txtQuantity").val(),
		unit_cost: selected_row.find("#txtUnitCost").val()
	};
	
	var total = values.quantity * values.unit_cost;
	
	grand_total = grand_total - total;
	
	updateItem({type: "stock_opening", label:"Edit Stock Opening Item", values: values}, function(data) { 
		
		var item = data['item'];
		var unit = data['unit'];
		
		selected_row.find("#lblItemId").html(item.id);
		selected_row.find("#lblItemCode").html(item.code);
		selected_row.find("#lblItemName").html(item.name);
		selected_row.find("#lblUnitName").html(unit.name);
		selected_row.find("#lblAbbreviation").html(unit.abbreviation);
		
		selected_row.find("#txtItem").val(item.id);
		selected_row.find("#txtUnit").val(unit.id);
		selected_row.find("#txtQuantity").val(data.quantity);
		selected_row.find("#txtUnitCost").val(data.unit_cost);
		
		selected_row.find("#lblQuantity").html(data.quantity);
		selected_row.find("#lblUnitCost").html(data.unit_cost);
		selected_row.find("#lblTotal").html(data.quantity * data.unit_cost);
		
		computeGrandTotal(data.quantity, data.unit_cost); 
	});
}

function remove(e) {
	var selected_row = $(e).parentsUntil("tbody");
	var total = selected_row.find("#txtQuantity").val() * selected_row.find("#txtUnitCost").val();
	
	grand_total = grand_total - total;
	
	$("#grandTotal").html(grand_total);
	$(e).parentsUntil("tbody").remove();
}

function computeGrandTotal(quantity, unit_cost) {
	var total = quantity * unit_cost;
	grand_total = grand_total + total;
	$("#grandTotal").html(grand_total);
}
	/*]]>*/
  </script>
</head>
<body>