<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Stock Received</h3>
		</div>
		
		<div class="title_right">
			<div class="pull-right btn-group  btn-group-sm">
				<a th:href="@{/stock/received/create}" class="btn btn-success btn-sm"><span
					class="fa fa-plus"></span> New Stock Received</a> <a
					th:href="@{/stock/received}" class="btn btn-default btn-sm"><span
					class="fa fa-mail-reply"></span> Back to List of Received Stocks</a>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_title">
					<h2 th:text="${stockReceive.systemNumber}"></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="table-responsive">

						<table class="table table-bordered table-striped">
							<tbody>
								<tr>
									<td class="col-md-3">

										<div class="input-group">
											<span class="input-group-addon">Trans.Date</span> <span
												class="form-control"
												th:text="${stockReceive.transactionDate}"></span>
										</div>

									</td>
									<td class="col-md-3">

										<div class="input-group">
											<span class="input-group-addon">year</span> <span
												class="form-control" th:text="${stockReceive.year}"></span>
										</div>
									</td>
									<td class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">Location</span> <span
												class="form-control" th:text="${stockReceive.location.name}"></span>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="input-group col-md-12">
											<span class="input-group-addon">Document #</span> <span
												class="form-control"
												th:text="${stockReceive.documentNumber}"></span>
										</div>
									</td>

									<td class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">Supplier</span> <span
												class="form-control" th:text="${stockReceive.supplier.name}"></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="table table-striped">
							<thead>
								<tr>
									<th>SN</th>
									<th>Code</th>
									<th>Description</th>
									<th>Unit</th>
									<th>U.Desc</th>
									<th class="text-right">Quantity</th>
									<th class="text-right">Unit Cost</th>
									<th class="text-right">Subtotal</th>
								</tr>
							</thead>
							<tbody>

								<tr
									th:each="stockReceiveItem : ${stockReceive.stockReceiveItems}">
									<th th:text="${stockReceiveItem.item.id}"></th>
									<td th:text="${stockReceiveItem.item.code}"></td>
									<td th:text="${stockReceiveItem.item.name}"></td>
									<td th:text="${stockReceiveItem.unit.abbreviation}"></td>
									<td th:text="${stockReceiveItem.unit.name}"></td>
									<td class="text-right"
										th:text="${numericUtility.quantity(stockReceiveItem.quantity)}"></td>
									<td class="text-right"
										th:text="${numericUtility.amount(stockReceiveItem.unitCost)}"></td>
									<td class="text-right"
										th:text="${numericUtility.amount(stockReceiveItem.unitCostTotal)}"></td>
								</tr>

							</tbody>
						</table>

					</div>
				</div>

				<!-- Credit Card Details -->

				<div class="row">
					<!-- accepted payments column -->
					<div class="col-xs-6">
						<p class="lead">
							Payment Methods: <b><span
								th:if="${stockReceive.paymentMethod != T(com.bartolay.inventory.enums.PaymentMethod).CREDITCARD}"
								th:text="${stockReceive.paymentMethod}"></span></b>
						</p>

						<div
							th:if="${stockReceive.paymentMethod == T(com.bartolay.inventory.enums.PaymentMethod).CREDITCARD}">

							<img th:src="@{/static/images/visa.png}" alt="Visa"> <img
								th:src="@{/static/images/mastercard.png}" alt="Mastercard">
							<img th:src="@{/static/images/american-express.png}"
								alt="American Express"> <img
								th:src="@{/static/images/paypal.png}" alt="Paypal">
							<p class="text-muted well well-sm no-shadow"
								style="margin-top: 10px;">
								Name: <b><span
									th:text="${stockReceive.creditCardDetails.holdersName}"></span></b><br>
								Card Number: <span
									th:text="${stockReceive.creditCardDetails.cardNumber}"></span><br>
								Expiry Date: <span
									th:text="${stockReceive.creditCardDetails.dateExpiry}"></span>
							</p>
						</div>
						
						<!-- Expenses -->
						<p class="lead">Expenses:</p>
						
						<p class="text-muted well well-sm no-shadow"
								style="margin-top: 10px;" th:if="${stockReceive.stockReceiveExpenses.size() <= 0}">No Expenses</p>

						<table class="table table-striped"
								th:if="${stockReceive.stockReceiveExpenses.size() > 0}">
							<thead>
								<tr>
									<th>ID</th>
									<th>Description</th>
									<th class="text-right">Amount</th>
								</tr>
							</thead>
							<tbody>

								<tr
									th:each="stockReceiveExpense : ${stockReceive.stockReceiveExpenses}">
									<th th:text="${stockReceiveExpense.expense.id}"></th>
									<td th:text="${stockReceiveExpense.expense.description}"></td>
									<td class="text-right" th:text="${stockReceiveExpense.amount}"></td>
								</tr>

							</tbody>
						</table>
						
					</div>
					<!-- /.col -->
					<div class="col-xs-6">
						<p class="lead">Amount</p>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<th style="width: 50%">Total:</th>
										<td th:text="${numericUtility.amount(stockReceive.total)}"></td>
									</tr>
									<tr>
										<th>Discount Value</th>
										<td th:text="${numericUtility.amount(stockReceive.discountValue)}"></td>
									</tr>
									<tr>
										<th>Grand Total:</th>
										<td th:text="${numericUtility.amount(stockReceive.grandTotal)}"></td>
									</tr>
									
									<tr>
										<th>Expenses Total:</th>
										<td th:text="${numericUtility.amount(stockReceive.expensesTotal)}"></td>
									</tr>
									<tr>
										<th>Net Total:</th>
										<td th:text="${numericUtility.amount(stockReceive.netTotal)}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.col -->
				</div>

				<!-- // Credit Card Details -->

			</div>
		</div>
	</div>
</div>
<!-- /page content -->