<div class="row">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>User Groups</h3>
			</div>

			<div class="title_right hidden" >
				<div
					class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Search for..."> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="clearfix"></div>
	<!-- //Title and action -->

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>List of User Groups</h2>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<table class="table table-striped projects" id="userGroup-datatable">
					<thead>
						<tr>
							<th style="width: 1%">SN</th>
							<th style="width: 20%">User Groups</th>
							<th style="width: 25%">Description</th>
							<th>Group Members</th>
							<th style="width: 20%">#Edit</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
	<!-- end project list -->

	</div>
</div>
<script	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script>
	
	var table = $('#userGroup-datatable');
	var datatable = customDatatable(table, '/api/datatable/usergroups', 
		[
        	{ 
        		data: "id",
        		render: function ( data, full, type, row ) {
                    return data;
                } 
        	},
        	{ 
        		data: "name", render: function ( data, type, row ) {
        			return '<a>'+data+'</a> <br><small>Created By <a href="#"><b>'+row.create_by+'</b></a></small><br><small>Created 	'+moment(row.created_date).format("YYYY-MM-DD HH:mm")+'</small>';
                }
        	},
        	{ data: "description" },
        	{ data: "created_date" , orderable:false, render : function(data, type, row){
        		console.log(row.account);
        		var accounts = [];
        		
        		if(row.account) {
        			accounts = row.account.length >= 2 ? row.account.substring(1, row.account.length-1).split(",") : [];
        		}
        		
        		console.log(accounts);
        		var html = "";
        		for (var i = 0; i < accounts.length; i++) {
        			var account = accounts[i].split("||");
        			var fullname = account[1] + ',' +account[2];
					html += '<li data-id="'+account[0]+'" data-toggle="tooltip" data-placement="top" title="'+fullname+'"><img src="/static/images/user.png" class="avatar" alt="Avatar"></li>';
				}
        		
        		
        		return '<ul class="list-inline">'+html+'</ul>';
        	}},
        	{ data: "created_date", orderable:false, render : function(data, type, row){
        		return `<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Manage Authorities </a><br> 
        				<a href="#"	class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Manage Users</a> <br>
        				<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete Group </a>`
        	}},
        	
    	]
	);
	
	
	$(function () {
		setTimeout(function(){
			$('[data-toggle="tooltip"]').tooltip()
		}, 200);
	  	
	})
</script>