<div th:fragment="basic">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>SN</th>
				<th>Code</th>
				<th>Description</th>
				<th>Unit</th>
				<th>U.Desc</th>
				<th class="text-right">Quantity</th>
				<th class="text-right">Unit Price</th>
				<th class="text-right">Subtotal</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>ryan1234</td>
				<td>HyperDunk Series X 2( pcs )</td>
				<td>pcs</td>
				<td>Pieces</td>
				<td class="text-right">2.21</td>
				<td class="text-right">30.33</td>
				<td class="text-right">67.06</td>

			</tr>
		</tbody>
	</table>
</div>