<div th:fragment="basic">
	<div class="col-md-6">

		<div class="x_content">

			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Document
					#</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<input type="text" class="form-control"
						th:field="*{documentNumber}" autocomplete="off"
						autofocus="autofocus" tabindex="1">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Transaction
					Date</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<input type="text" class="form-control"
						th:field="*{transactionDate}" tabindex="2" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Year</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<input type="text" class="form-control" th:field="*{year}" tabindex="3" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<input type="text" class="form-control" maxlength="250"
						th:field="*{description}" tabindex="4" />
				</div>
			</div>
		</div>
	</div>


	<!-- Right -->
	<div class="col-md-6">

		<div class="x_content">
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Sales
					Person<span class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<select class="form-control" th:field="*{salesPerson}" tabindex="5">
						<option value="" selected="selected"></option>
						<option th:each="user : ${users}" th:value="${user.id}"
							th:text="${user.lastName} + ', ' + ${user.firstName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Location<span
					class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<select class="form-control" th:field="*{location}"  tabindex="6">
						<option value="" selected="selected"></option>
						<option th:each="location : ${locations}"
							th:value="${location.id}" th:text="${location.name}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Customer</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<select class="form-control" th:field="*{customer}" tabindex="7">
						<option value="" selected="selected"></option>
						<option th:each="user : ${users}" th:value="${user.id}"
							th:text="${user.lastName} + ', ' + ${user.firstName}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Payment
					Method<span class="required">*</span>
				</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
				
					<select class="form-control" th:field="*{paymentMethod}" tabindex="8">
						<option value="" selected="selected">Choose Payment Method....</option>
						<option th:each="paymentMethod : ${T(com.bartolay.inventory.enums.PaymentMethod).values()}" th:value="${paymentMethod}"
							th:text="${paymentMethod}"></option>
					</select>
					
				</div>
			</div>

		</div>

	</div>
	<!-- //Right -->
</div>