<div class="row">

	<div class="col-lg-12">
		<form th:object="${salesReturnForm}" id="salesReturnForm"
			th:action="@{/api/sales/invoice}" method="POST">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row ">
						<div class="col-md-4">
							<h4>Sales Return</h4>
						</div>
						<div class="col-md-8">
							<div class="btn-group pull-right" role="group">
								<button type="submit" id="submitSalesReturnBtn"
									class="btn btn-success btn-sm">Submit Sales Return</button>
								<a th:href="@{/sales/invoice/}+${salesInvoice.systemNumber}"
									class="btn btn-warning btn-sm"> <span class="fa fa-file-o"></span>
									Show Sales Invoice
								</a> <a th:href="@{/sales/return}" class="btn btn-danger btn-sm"><span
									class="fa fa-list"></span> Cancel</a>

							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div class="form-group" id="errors"></div>

					<div class="col-md-3">

						<label><span class="text-danger">Sales Invoice</span>
							System Number</label> <select class="form-control"
							name="salesInvoice.systemNumber" id="salesInvoice.systemNumber">

						</select> <label>Document Number </label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.documentNumber}">
					</div>

					<div class="col-md-3">
						<label>Customer:</label> <input type="text" class="form-control"
							disabled="disabled"
							th:value="${salesInvoice?.customer == null ? '':salesInvoice?.customer?.firstName +' '+ salesInvoice?.customer?.lastName}">
						<label>Payment Method :</label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.paymentMethod}">
					</div>

					<div class="col-md-3">
						<label>Transaction Date:</label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.transactionDate}"> <label>Year
							:</label> <input type="text" class="form-control" disabled="disabled"
							th:field="${salesInvoice.year}">

					</div>

					<div class="col-md-3">
						<label>Location:</label> <input type="text" class="form-control"
							disabled="disabled" th:value="${salesInvoice?.location?.name}">
					</div>

					<div class="col-md-12 clearfix">
						<label>Description :</label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.description}">
					</div>

					<div class="col-md-12 clearfix">&nbsp;</div>

					<div class="table-responsive col-md-12">

						<table class="table table-bordered table-striped" id="itemsTable">
							<thead>
								<tr>
									<th>SN</th>
									<th>Code</th>
									<th class="col-md-3">Description</th>
									<th class="text-right">Quantity</th>
									<th>U.Desc</th>
									<th class="text-right">Unit Price</th>
									<th class="text-right">Sales Price</th>
									<th class="text-right" width="150px">Return Quantity</th>
									<th class="text-right">Reason</th>
									<th class="text-right">Sales Return</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="salesInvoiceItem, iter : ${salesInvoiceItems}"
									th:remove="tag">
									<td class="primary-data" th:text="${salesInvoiceItem.id}"
										th:attr="data-id=${salesInvoiceItem.id},
							   						 data-itemCode=${salesInvoiceItem.item.code},
							   						 data-itemName=${salesInvoiceItem.item.name},
							   						 data-quantity=${salesInvoiceItem.quantity},
							   						 data-table_records=${iter.size},
							   						 data-unitAbbreviation=${salesInvoiceItem.unit.abbreviation},
							   						 data-unitDescription=${salesInvoiceItem.unit.name},
							   						 data-unitPrice=${salesInvoiceItem.unitCost},
							   						 data-unitPriceTotal=${salesInvoiceItem.unitCostTotal}
							   						 
							   			">
									<td th:text="${salesInvoiceItem.item.code}">
									<td th:text="${salesInvoiceItem.item.name}">
									<td class="text-right" th:text="${salesInvoiceItem.quantity}">
									<td th:text="${salesInvoiceItem.unit.name}">
									<td class="text-right" th:text="${salesInvoiceItem.unitCost}">
									<td class="text-right"
										th:text="${salesInvoiceItem.unitCostTotal}">
									<td><input type="hidden"
										th:name="|salesReturnItems[${iter.index}].salesInvoiceItem|"
										th:value="${salesInvoiceItem.id}"> <input
										type="number" data-toggle="tooltip" data-trigger="manual"
										title="This is my tooltip"
										th:name="|salesReturnItems[${iter.index}].quantity|"
										id="quantity" class="form-control" value="0"
										th:max="${salesInvoiceItem.quantity}"
										th:onkeyup="|computeValues(this, ${iter.index});|"
										th:onkeydown="|computeValues(this, ${iter.index});|"
										th:onblur="|computeValues(this, ${iter.index});|"
										th:onchange="|computeValues(this, ${iter.index});|"></td>
									<td><select class="form-control"
										th:name="'salesReturnItems[' + ${iter.index} + '].salesReturnItemReason'" id="reason" disabled="disabled">
											<option value=""></option>
											<option th:each="reason : ${salesReturnReasons}"
												th:value="${reason.id}" th:text="${reason.code}"></option>
									</select></td>
									<td id="lblItemName" class="text-right"><span
										id="html_subtotal">0.00</span></td>
								</tr>
							</tbody>

							<tfoot>
								<tr>
									<th colspan="8"></th>
									<th><h3>Total</h3></th>
									<th><h3 class="text-right" id="grandTotal"></h3></th>
								</tr>
							</tfoot>
						</table>
						<div class="col-md-12">
							<label>Remarks :</label> <input type="text" class="form-control"
								th:field="*{{remarks}}">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

var systemNumber = /*[[${salesInvoice.systemNumber}]]*/ '0';
var form_items = [];

$(".primary-data").map(function(index){
	console.log(index, )
	var data = $(this).data();
	data.subtotal = 0;
	form_items.push(data);
})


$( function() {
	
	if(systemNumber){
		var current_year = (new Date()).getFullYear();
		
		$( "#transactionDate" ).datepicker();
		
	    $('.yearselect').yearselect({
	    	order: 'desc',	
	 		start: current_year - 5,
	 		end: current_year + 5
	    });
	    
	    $('[name=year]').val( current_year );
	    
	    
	}else{
		$("#btnAddItem").attr("disabled", true);
	}
	var systemNumberHtml = $("select[name='salesInvoice.systemNumber']");
    var html = "";
    GET('/api/sales/invoices/all', function(data){
    	if(data != null){
    		for (var i = 0; i < data.length; i++) {
    			html += '<option value="'+data[i].systemNumber+'">'+data[i].systemNumber+'</option>'
			}
    		console.log(systemNumberHtml)
    		systemNumberHtml.html(html);
    		systemNumberHtml.val(systemNumber);
    	}
    })
    
    systemNumberHtml.change(function(){
    	location.href='/sales/return/create/'+$(this).val();
    })
    
    systemNumberHtml.select2()
    
    computeGrandTotal();
    
});

function computeValues(element, index) {
	
	var each = [];
	var subtotal = 0.00;
	
	var min = parseFloat($(element).attr("min") ? $(element).attr("min") : 0);
	var max = parseFloat($(element).attr("max"));
	var value = parseFloat($(element).val());
	
	console.log(min + " " + max + " " + value);
	
	var thisRow = $(element).closest("tr");
	
	var thisQuantity = thisRow.find("#quantity");
	var thisReason = thisRow.find("#reason");
	
	if(value < min) {
		thisQuantity.val(min);
	} else if(value > max) {		
		thisQuantity.val(max);
	}
	
	if(thisQuantity.val() <= 0) {
		thisReason.attr("disabled", "disabled");
	} else {
		thisReason.removeAttr("disabled");
	}
	
	$.each($(element).closest("tr"), function() {
		
		if($(this).find(".unitPrice")){
			each['unitPrice'] = $(this).find(".unitPrice").text()
		}
		
		
		$(this).find("input").each(function() {
			each[$(this).attr("id")] = $(this).val();
			console.log($(this).attr("id"))
			form_items[index][$(this).attr("id")] = $(this).val();
			console.log($(this).attr("id") + " = " + $(this).val());
		});
		
	});

	console.log("each " + each);
	
	subtotal = each.quantity * each.unitPrice;
	
	console.log("c subtotal " + subtotal);
	
	form_items[index]["subtotal"] = subtotal;
	$(element).closest("tr").find("#subtotal").val(round2DecimalPlaces(subtotal));
	
	console.log("d subtotal " + subtotal);
	
	if(subtotal > 0) {
		subtotal = "-" + round2DecimalPlaces(subtotal);
	}
	
	console.log("esubtotal " + subtotal);
	
	$(element).closest("tr").find("#html_subtotal").html(subtotal);
	computeGrandTotal();
}

function computeGrandTotal() {
	
	var grand_total = parseFloat(0);
	
	$('#itemsTable > tbody  > tr').each(function() {
		grand_total = (parseFloat(grand_total) + parseFloat($(this).find("#html_subtotal").text())).toFixed(2);
	});
	
	if(grand_total > 0) {
		grand_total = "-" + round2DecimalPlaces(grand_total);
	}
	
	$("#grandTotal").html(grand_total);
}


var submitSalesReturnBtn = $("#submitSalesReturnBtn");
var salesReturnForm = $("#salesReturnForm");
submitSalesReturnBtn.click(function() {
	  
 	var original_text = submitSalesReturnBtn.text();
 	submitSalesReturnBtn.attr("disabled", "disabled");
 	submitSalesReturnBtn.text("Processing....");
 	
 	console.log(salesReturnForm.serialize())
 	
 	POST("/api/sales/return", salesReturnForm.serialize(), function(data) {
 		
 		console.log('data : ',data)
 		if(data.status != "OK") {
 			displayErrors(data, $("#errors"));
 			submitSalesReturnBtn.removeAttr("disabled");
 			submitSalesReturnBtn.text(original_text);
 		} else {
 			window.location.replace('/sales/return?message=Successfully created Sales Return');
 		}
 	});
});

/*]]>*/
</script>
