<div class="row">

	<div class="col-lg-12">
		<form th:object="${salesInvoiceForm}" id="salesInvoiceForm"
			th:action="@{/api/sales/invoice}" method="POST">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row ">
						<div class="col-md-4">
							<h4>Sales Return</h4>
						</div>
						<div class="col-md-8">
							<div class="btn-group pull-right" role="group">
								<button type="submit" id="submitSalesInvoiceBtn"
									class="btn btn-success btn-sm">Submit Sales Return</button>
								<a th:href="@{'/sales/invoice/}"
									class="btn btn-warning btn-sm"> <span class="fa fa-file-o"></span>
									Show Sales Invoice</a> <a
									th:href="@{/sales/return}" class="btn btn-default btn-sm"><span
									class="fa fa-list"></span> Back to List of Sales Returns</a>

							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div class="form-group" id="errors"></div>

					<div class="col-md-3">

						<label><span class="text-danger">Sales Invoice</span> System Number</label> <input type="text"
							class="form-control"
							th:field="${salesInvoice.systemNumber}"> <label>Document
							Number </label> <input type="text" class="form-control"
							disabled="disabled" th:field="${salesInvoice.documentNumber}">
					</div>

					<div class="col-md-3">
						<label>Customer:</label> <input type="text" class="form-control"
							disabled="disabled" th:field="${salesInvoice.customer}">
						<label>Payment Method :</label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.paymentMethod}">
					</div>

					<div class="col-md-3">
						<label>Transaction Date:</label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.transactionDate}"> <label>Year
							:</label> <input type="text" class="form-control" disabled="disabled"
							th:field="${salesInvoice.year}">

					</div>

					<div class="col-md-3">
						<label>Location:</label> <input type="text" class="form-control"
							disabled="disabled" th:field="${salesInvoice.location}">
					</div>

					<div class="col-md-12 clearfix">
						<label>Description :</label> <input type="text"
							class="form-control" disabled="disabled"
							th:field="${salesInvoice.description}">
					</div>

					<div class="col-md-12">
						<br>
						<button class="btn btn-success btn-sm" id="btnAddItem">Add
							Item</button>
					</div>

					<div class="table-responsive col-md-12">

						<table class="table table-bordered table-striped" id="itemsTable">
							<thead>
								<tr>
									<th>SN</th>
									<th>Code</th>
									<th class="col-md-3">Description</th>
									<th class="text-right">Sales Quantity</th>
									<th>U.Desc</th>
									<th class="text-right">Unit Price</th>
									<th class="text-right">Sales Price</th>
									<th class="text-right">Return Quantity</th>
									<th class="text-right">Sales Return</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="7"></th>
									<th><h3>Total</h3></th>
									<th><h3 class="text-right" id="grandTotal"></h3></th>
									<th></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Item Modal -->
<div th:include="includes/modals/itemModal_salesReturnItems"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

var systemNumber = /*[[${salesInvoice.systemNumber}]]*/ '0';

var form_items = [];

$( function() {
	var current_year = (new Date()).getFullYear();
	
	$( "#transactionDate" ).datepicker();
	
    $('.yearselect').yearselect({
    	order: 'desc',	
 		start: current_year - 5,
 		end: current_year + 5
    });
    
    $('[name=year]').val( current_year );
});

$("#btnAddItem").on("click", function() {
	addItem({type: "sales_return", systemNumber: systemNumber, label:"Invoice # : " + systemNumber }, function(data) {
		
  		for(var i = 0; i < data.length; i++) {
  			form_items.push(data[i]);
  		}
				
		var html = ``;
		
  		for(var i = 0; i < form_items.length; i++) {
  		
  			var item = form_items[i];
  			var subtotal = (item.subtotal ? item.subtotal : "0.00");
  			
  			html += `<tr>
				<th id="lblItemId">`+ item.id +`
					<input type="hidden" name="salesReturn[`+i+`].item" value="`+item["id"]+`" />
					<input type="hidden" name="salesReturn[`+i+`].subtotal" id="subtotal" value="`+subtotal+`" />
					<input type="hidden" name="salesReturn[`+i+`].unitPrice" id="unitPrice" value="`+item["unitPrice"]+`" />
					<input type="hidden" name="salesReturn[`+i+`].salesQuantity" id="salesQuantity" value="`+item["quantity"]+`" />
				</th>
				<td id="lblItemName">`+ item["itemCode"] +`</td>
				<td id="lblItemName">`+ item["itemName"] +`</td>
				<td id="lblItemName" class="text-right">`+ item["quantity"] +`</td>
				<td id="lblItemName">`+ item["unitDescription"] +`</td>
				<td id="lblItemName" class="text-right">`+ item["unitPrice"] +`</td>
				<td id="lblItemName" class="text-right">`+ item["unitPriceTotal"] +`</td>
				<td id="lblItemName">
					<input type="number" data-toggle="tooltip" data-trigger="manual" title="This is my tooltip" name="salesReturn[`+i+`].quantity" id="quantity" class="form-control" value="0" max="`+item["quantity"]+`"
					onKeyup="computeValues(this,`+i+`)"
					onKeydown="computeValues(this,`+i+`)"
					onBlur="computeValues(this,`+i+`)"
					onChange="computeValues(this,`+i+`)" />
					<span id="quantity_error"></span>
				</td>
				<td id="lblItemName" class="text-right"><span id="html_subtotal">`+ subtotal +`</span></td>
				<td id="lblItemName"><button class="btn btn-danger fa fa-times" onClick="remove(this, `+i+`)" /></td>`;
  		}
  		
  		$('#itemsTable tbody').html(html);
  		
  		computeGrandTotal();
	});
});

function remove(e, item_index) {
	form_items.splice(item_index, 1); // remove this element from the item array
	$(e).parentsUntil("tbody").remove();
	computeGrandTotal();
}

function computeValues(element, index) {
	
	var each = [];
	var subtotal = 0.00;
	
	var min = parseFloat($(element).attr("min") ? $(element).attr("min") : 0);
	var max = parseFloat($(element).attr("max"));
	var value = parseFloat($(element).val());
	
	console.log(min + " " + max + " " + value);
	
	var thisQuantity = $(element).closest("tr").find("#quantity");
	if(value < min) {
		thisQuantity.val(min);
	} else if(value > max) {		
		thisQuantity.val(max);
	}
	
	$.each($(element).closest("tr"), function() {
		
		$(this).find("input").each(function() {
			each[$(this).attr("id")] = $(this).val();
			form_items[index][$(this).attr("id")] = $(this).val();
			console.log($(this).attr("id") + " = " + $(this).val());
		});
		
	});

	subtotal = each.quantity * each.unitPrice;
	
	form_items[index]["subtotal"] = subtotal;
	$(element).closest("tr").find("#subtotal").val(round2DecimalPlaces(subtotal));
	
	if(subtotal > 0) {
		subtotal = "-" + round2DecimalPlaces(subtotal);
	}
	
	$(element).closest("tr").find("#html_subtotal").html(subtotal);
	computeGrandTotal();
}

function computeGrandTotal() {
	
	var grand_total = parseFloat(0);
	
	$('#itemsTable > tbody  > tr').each(function() {
		grand_total = (parseFloat(grand_total) + parseFloat($(this).find("#html_subtotal").text())).toFixed(2);
	});
	
	if(grand_total > 0) {
		grand_total = "-" + round2DecimalPlaces(grand_total);
	}
	
	$("#grandTotal").html(grand_total);
}
/*]]>*/
</script>
