<div class="">
	<!-- Title and action -->
	<div class="page-title">
		<div class="title_left">
			<h3>Sales Return</h3>
		</div>

		<div class="title_right">
			<div class="pull-right">
				<div class="input-group ">
					<a th:href="@{/sales/return/create}"
						class="btn btn-success btn-sm"><span class="fa fa-plus"></span>
						Create Sales Return</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<!-- //Title and action -->

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					List of Sales Return 
				</h2>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
			<div
        id="errors"
        th:if="${(param.message != null)}">
            <div class="alert alert-success fade in alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Success!</strong> <span th:text="${{param.message}}"></span>
</div>
    </div>

				<div class="table-responsive">
					<table class="table table-striped" id="salesReturn-datatable" style="width: 100%">
						<thead>
							<tr class="headings">
								<th class="column-title">SN</th>
								<th class="column-title">Invoice</th>
								<th class="column-title">Invoice Date</th>
								<th class="column-title">Location</th>
								<th class="column-title">Sales Person</th>
								<th class="column-title">Customer</th>
								<th class="column-title">No. of Items</th>
								<th class="column-title">Returned Amount</th>
								
							</tr>
						</thead>

						<tbody>
							
						</tbody>
					</table>
				</div>


			</div>
		</div>
	</div>
</div>
<!-- DataTables JavaScript -->
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script>
				var table = $('#salesReturn-datatable');
				var datatable = customFixedDatatable(
						table,
						'/api/datatable/sales/return',
						[ {
							data : "id",
							name : "t1.id",
							render: function ( data, type, row ) {
								return '<a href="/sales/return/'+ data +'">' + data + '</a>';	
		                    }
						}, 
						{
							data : "sales_invoice_system_number",
							name : "t2.system_number",
							render: function ( data, type, row ) {
								if(data) {
									return '<a href="/sales/return/'+ row.id +'">' + data + '</a>';	
								}
		                        return '';
		                    }
						}, 
						{
							data : "sales_invoice_created_date", name : "sales_invoice.created_date",
							name : "t2.created_date",
							render: function ( data, type, row ) {
								if(data) {
									return moment(data).format('YYYY-MM-DD HH:mm:ss');	
								}
		                        return '';
		                    }
						}, 
						{
							data : "location",
							name : "t3.name",
						}, 
						{
							data : "sales_person",
							name : "u4.firstName",
						}, 
						{
							data : "customer",
							name : "u3.firstName",
						}, {
							data : "item_count",
							name : "item_count"
						}, {
							data : "net_total",
							name : "t2.net_total",
							className: "text-right"
						}],
						);

				// View button
				table.find("tbody").on(
						'click',
						'#btnView',
						function(e) {
							e.preventDefault();

							var data = datatable.row(
									$(this).parent('div').parent('td')).data();
							window.location = "invoice/" + data.system_number;

						});
			</script>