<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row ">
					<div class="col-md-4">
						<h4>Sales Return</h4>
					</div>
					<div class="col-md-8">
						<div class="btn-group pull-right" role="group">
							<a th:href="@{'/sales/invoice/}" class="btn btn-warning btn-sm">
								<span class="fa fa-file-o"></span> Show Sales Invoice
							</a> <a th:href="@{/sales/return}" class="btn btn-default btn-sm"><span
								class="fa fa-list"></span> Back to List of Sales Returns</a>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-md-3">
					<label><span class="text-danger">Sales Invoice</span>
						System Number</label> <input type="text" class="form-control"
						disabled="disabled" th:value="${{salesInvoice.systemNumber}}"> <label>Document Number </label> <input
						type="text" class="form-control" disabled="disabled" th:value="${{salesInvoice.documentNumber}}">
				</div>
				<div class="col-md-3">
					<label>Customer:</label> <input type="text" class="form-control"
						disabled="disabled" th:value="${{salesInvoice.customer.lastName}} + ', ' + ${{salesInvoice.customer.firstName}}"> <label>Payment Method :</label> <input
						type="text" class="form-control" disabled="disabled" th:value="${{salesInvoice.paymentMethod}}">
				</div>
				<div class="col-md-3">
					<label>Transaction Date:</label> <input type="text"
						class="form-control" disabled="disabled" th:value="${{salesInvoice.transactionDate}}"> <label>Year
						:</label> <input type="text" class="form-control" disabled="disabled" th:value="${{salesInvoice.year}}">
				</div>
				<div class="col-md-3">
					<label>Location:</label> <input type="text" class="form-control"
						disabled="disabled" th:value="${{salesInvoice.location.name}}">
				</div>
				<div class="col-md-12 clearfix">
					<label>Description :</label> <input type="text"
						class="form-control" disabled="disabled" th:value="${{salesInvoice.description}}">
				</div>
				<div class="col-md-12 clearfix">&nbsp;</div>
				<div class="table-responsive col-md-12">
					<table class="table table-bordered table-striped" id="itemsTable">
						<thead>
							<tr>
								<th>SN</th>
								<th>Code</th>
								<th class="col-md-3">Description</th>
								<th class="text-right">Sales Quantity</th>
								<th>U.Desc</th>
								<th class="text-right">Unit Price</th>
								<th class="text-right">Sales Price</th>
								<th class="text-right">Return Quantity</th>
								<th class="text-right">Sales Return</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="7"></th>
								<th><h3>Total</h3></th>
								<th><h3 class="text-right" id="grandTotal"></h3></th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		</form>

	</div>

	<!-- /.col-lg-12 -->

</div>
