<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row ">
					<div class="col-md-4">
						<h4>Sales Return</h4>
					</div>
					<div class="col-md-8">
						<div class="btn-group pull-right" role="group">
							<a th:href="@{/sales/invoice/}+${salesInvoice.systemNumber}" class="btn btn-warning btn-sm">
								<span class="fa fa-file-o"></span> Show Sales Invoice
							</a> <a th:href="@{/sales/return}" class="btn btn-default btn-sm"><span
								class="fa fa-list"></span> Back to List of Sales Returns</a>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-md-3">
					<label><span class="text-danger">Sales Invoice</span>
						System Number</label> <input type="text" class="form-control"
						disabled="disabled" th:value="${{salesInvoice.systemNumber}}"> <label>Document Number </label> <input
						type="text" class="form-control" disabled="disabled" th:value="${{salesInvoice.documentNumber}}">
				</div>
				<div class="col-md-3">
					<label>Customer:</label> <input type="text" class="form-control"
						disabled="disabled" th:value="${{salesInvoice.customer.lastName}} + ', ' + ${{salesInvoice.customer.firstName}}"> <label>Payment Method :</label> <input
						type="text" class="form-control" disabled="disabled" th:value="${{salesInvoice.paymentMethod}}">
				</div>
				<div class="col-md-3">
					<label>Transaction Date:</label> <input type="text"
						class="form-control" disabled="disabled" th:value="${{salesInvoice.transactionDate}}"> <label>Year
						:</label> <input type="text" class="form-control" disabled="disabled" th:value="${{salesInvoice.year}}">
				</div>
				<div class="col-md-3">
					<label>Location:</label> <input type="text" class="form-control"
						disabled="disabled" th:value="${{salesInvoice.location.name}}">
				</div>
				<div class="col-md-12 clearfix">
					<label>Description :</label> <input type="text"
						class="form-control" disabled="disabled" th:value="${{salesInvoice.description}}">
				</div>
				<div class="col-md-12 clearfix">&nbsp;</div>
				<div class="table-responsive col-md-12">
					<table class="table table-bordered table-striped" id="itemsTable">
						<thead>
							<tr>
								<th>SN</th>
								<th>Code</th>
								<th class="col-md-3">Description</th>
								<th>U.Desc</th>
								<th class="text-right">Sales Price</th>
								<th class="text-right">Quantity</th>
								<th class="text-right">Price</th>
								<th class="text-right">Total</th>
							</tr>
						</thead>
						<tbody>
							<!-- <div th:text="${salesReturn}"></div> -->
							<!-- <tr th:each="salesReturnItem : ${salesReturn.salesReturnItems}"
									th:remove="tag">
									<td th:text="${salesReturnItem.salesInvoiceItem.id}">
									<td th:text="${salesReturnItem.salesInvoiceItem.item.code}">
									<td th:text="${salesReturnItem.salesInvoiceItem.item.name}">
									<td th:text="${salesReturnItem.salesInvoiceItem.unit.name}">
									<td class="text-right" th:text="${#numbers.formatDecimal(salesReturnItem.salesInvoiceItem.unitPrice,1,2)}">
									
									<td class="text-right" th:text="${#numbers.formatDecimal(salesReturnItem.quantity,1,2)}">
									<td class="text-right" th:text="${#numbers.formatDecimal(salesReturnItem.unitPrice,1,2)}"></td>
									<td class="text-right" th:text="${#numbers.formatDecimal(salesReturnItem.unitPriceTotal,1,2)}"></td>
								</tr> -->
						</tbody>
						<tfoot>
							<tr>
								<th colspan="6"></th>
								<th><h3>Total</h3></th>
								<!-- <th><h3 class="text-right" th:text="${salesReturn.totalPrice}"></h3></th> -->
							</tr>
						</tfoot>
					</table>
					
					<div class="col-md-12">
							<!-- <label>Remarks :</label> <div class="form-control" th:text="${salesReturn.remarks}"></div> -->
						</div>
				</div>
			</div>
		</div>
		</form>

	</div>

	<!-- /.col-lg-12 -->

</div>
