<div class="dashboard-widget-content" th:fragment="recentActivity">

	<ul class="list-unstyled timeline widget" th:if="${activities.size() > 0}">

		<li th:each="activity : ${activities}">
			<div class="block">
				<div class="block_content">
					<!-- <span th:text="${activity}"></span> -->
					<h2 class="title" th:switch="${activity.activityType}">
						<span th:case="'STOCK_OPENING'">Created <a th:href="'/stock/opening/' + ${activity.systemNumber}">Stock Opening</a></span>
						<span th:case="'STOCK_RECEIVED'"><a th:href="'/stock/received/' + ${activity.systemNumber}">Received Stocks</a></span>
						<span th:case="*">Default</span>
					</h2>
					<div class="byline">
						<span th:text="${T(com.bartolay.inventory.utils.CalendarUtils).dateToString(activity.createdDate)}"></span> by <a href="#" th:text="${activity.createdBy.firstName} + ' ' + ${activity.createdBy.lastName}"></a>
					</div>
					<p class="excerpt">
						<span th:if="${activity.systemNumber != null}" th:text="'System #' + ${activity.systemNumber}"></span><br>
						<span th:if="${activity.documentNumber != null}" th:text="'Document #' + ${activity.documentNumber}"></span>
					</p>
				</div>
			</div>
		</li>

	</ul>

</div>
