<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head th:include="includes/header">
	
</head>
<body>


	<div id="wrapper">

		<!-- Navigation -->
		<div th:include="includes/navigation"></div>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header" th:text="${page}"></h3>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div th:include="@{'/stock/' + ${html}}"></div>

		</div>
	</div>
	
</body>
</html>