<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head th:include="includes/header">
<!-- jQuery -->
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<!-- Navigation -->
			<div th:include="includes/navigation"></div>

			<!-- page content -->
			<div class="right_col" role="main">

				<div th:include="@{'/stock/' + ${html}}" class="row"></div>

			</div>
			<!-- /page content -->

		</div>
	</div>
	
	<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
	
	<div th:include="includes/footer"></div>
</body>
</html>