<div class="">
	<!-- Title and action -->
	<div class="page-title">
		<div class="title_left">
			<h3>Suppliers</h3>
		</div>

		<div class="title_right">
			<div class="pull-right">
				<div class="input-group ">
					<a th:href="@{/stock/opening/create}"
						class="btn btn-success btn-sm"><span class="fa fa-plus"></span>
						New Supplier</a>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<!-- //Title and action -->

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<div class="col-md-6">
					<h2>List of Suppliers</h2>
				</div>

				<div class="col-md-6">
				
					<div class="btn-group pull-right">
						<button data-toggle="dropdown"
							class="btn btn-default dropdown-toggle" type="button"
							aria-expanded="false">
							Sort <span class="caret"></span>
						</button>
						<ul role="menu" class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
				
					<div id="reportrange" class="pull-right"
						style="background: #fff; cursor: pointer; padding: 7px 10px; margin: 0 2px 0 2px; border: 1px solid #ccc">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span>December
							30, 2014 - January 28, 2015</span> <b class="caret"></b>
					</div>


					
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">

				<div class="table-responsive">
					<table class="table table-striped" id="openingStock-datatable"
						style="width: 100%">
						<thead>
							<tr>
								<th>SN</th>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
							</tr>
						</thead>
						<tbody>
						
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- DataTables JavaScript -->
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script>
	var table = $('#openingStock-datatable');
	
	 var datatable = customFixedDatatable(table, '/api/suppliers', 
		[
        	{ 
        		data: "id",
        		render: function ( data, type, row ) {
                    return '<a href="/stock/opening/'+ data +'">' + data + '</a>';
                }
        	},
        	{ 
        		data: "name",
        		render: function ( data, type, row ) {
                    return '<a href="/stock/opening/'+ row.system_number +'">' + data + '</a>';
                }
        	},
        	{ data: "address" },
        	{ 
        		data: "phone",
        		render: function ( data, type, row ) {
                    return '<a href="/locations/'+ row.location_id +'">' + data + '</a>';
                }
        	},
    	]
	); 
</script>