<div class="row">
	<div class="col-lg-12">

		<form th:object="${stockOpeningForm}" id="stockOpeningForm"
			th:action="@{/api/stock/opening}" method="POST">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class=" col-md-12">
							<div class="btn-group pull-right" role="group">
								
								<button type="submit" id="submitStockOpeningBtn"
									class="btn btn-success btn-sm">Save Opening Stock</button>
								<a th:href="@{/stock/opening}" class="btn btn-default btn-sm">Cancel</a>
								
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div class="form-group" id="errors"></div>

					<div class="table-responsive">

						<table class="table table-bordered table-striped">
							<tbody>
								<tr>
									<td class="col-md-3">

										<div class="input-group">
											<span class="input-group-addon">Trans. Date</span> <input
												type="text" th:field="*{transaction_date}"
												class="form-control" autocomplete="off">
										</div>

									</td>
									<td class="col-md-2">
										<div class="input-group">
											<span class="input-group-addon">Year</span> <input
												type="text" class="form-control yearselect"
												th:field="*{year}">
										</div>
									</td>
									<td class="col-md-7">
										<div class="input-group">
											<span class="input-group-addon">Location</span> <select
												class="form-control" th:field="*{location}">
												<option th:each="location : ${locations}"
													th:value="${location.id}" th:text="${location.name}"></option>
											</select>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										<div class="input-group">
											<span class="input-group-addon">Document #</span> <input
												type="text" th:field="*{document_number}"
												class="form-control">
										</div>
									</td>
									<td colspan="2">


										<div class="input-group col-md-12">
											<span class="input-group-addon">Description</span> <input
												type="text" th:field="*{description}" class="form-control">
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="table table-striped" id="itemsTable">
							<thead>
								<tr>
									<th>SN</th>
									<th>Code</th>
									<th class="col-md-3">Description</th>
									<th>Brand</th>
									<th>Unit</th>
									<th>Quantity</th>
									<th>Unit Cost</th>
									<th class="col-md-2 text-right">Subtotal</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

							</tbody>
							<tfoot>
								<tr>
									<th colspan="6"></th>
									<th><h3>Total</h3></th>
									<th><h3 class="text-right" id="grandTotal"></h3></th>
									<th></th>
								</tr>
							</tfoot>
						</table>

						<div class="row">
							<div class="col-md-4">
								<button class="btn btn-success btn-sm" id="btnAddItem">Add
									Items</button>
							</div>
						</div>

					</div>

				</div>
			</div>

		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Item Modal -->
<div th:include="includes/modals/itemModal_simple"></div>

<!-- DataTables JavaScript -->
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>

<script>
/*<![CDATA[*/
var form = $("#stockOpeningForm");
var current_year = (new Date()).getFullYear();

var item_count = 0;
var submitStockOpeningBtn = $("#submitStockOpeningBtn");

var form_items = [];

  $( function() {
	  
    $( "#transaction_date" ).datepicker();
    
    $('.yearselect').yearselect({
    	order: 'desc',	
 		start: current_year - 5,
 		end: current_year + 5
    });
    
    $('[name=year]').val( current_year );

   	computeGrandTotal();
  });
  
  function formAddItems(data) {
	  for(var i = 0; i < data.length; i++) {
			var item = data[i];
			form_items[item.id] = item;
		}
		
		console.log(form_items);
		
  }
  
  $("#btnAddItem").on("click", function() {
  	addItem({type: "stock_opening", label:"Add Stock Opening Item"}, function(data) {
  		
  		for(var i = 0; i < data.length; i++) {
  			form_items.push(data[i]);
  		}
  		
  		var html = ``;
  		for(var i = 0; i < form_items.length; i++) {
  		
  			var item = form_items[i];
  			
  			var units = JSON.parse(data[i].units);
  			
  			html += `<tr>
				<th id="lblItemId">`+ item.id +`<input type="hidden" name="stockOpeningItems[`+i+`].item" value="`+item.id+`" /></th>
				<td id="lblItemName">`+ item.code +`</td>
				<td id="lblItemName">`+ item.name +`</td>
				<td id="lblItemName">`+ item.brand_name +`</td>`;
				
			html += `
			<td id="lblItemName">
				<select class="form-control" name="stockOpeningItems[`+i+`].unit" id="unit" onChange="computeValues(this)">`;	
			for (var key in units) {
			    if (units.hasOwnProperty(key)) {
			    	html += `<option value="`+ key +`">`+ units[key] +`</option>`;
			    }
			}
			html +=	`</select>
			</td>`; 
				
			html +=	`
				<td id="lblItemName"><input type="number" name="stockOpeningItems[`+i+`].quantity" id="quantity" onChange="computeValues(this)" class="form-control" value="0" /></td>
				<td id="lblItemName"><input type="number" name="stockOpeningItems[`+i+`].unitCost" id="unitCost" onChange="computeValues(this)" class="form-control" value="0" /></td>
				<td id="lblItemName" class="text-right"><span id="subtotal">0.00</span></td>
				<td id="lblItemName"></td>
			</tr>`;
  		}
  	
  		var total = data.quantity * data.unit_cost;
  		
  		
  		
			item_count++;
  		$('#itemsTable tbody').append(html);
  	});
  });
  
submitStockOpeningBtn.click(function() {
  
 	var original_text = submitStockOpeningBtn.text();
 	submitStockOpeningBtn.attr("disabled", "disabled");
 	submitStockOpeningBtn.text("Processing....");
 	
 	POST("/api/stock/opening", form.serialize(), function(data) {
 		
 		if(data.status != "OK") {
 			displayErrors(data, $("#errors"));
 			submitStockOpeningBtn.removeAttr("disabled");
 			submitStockOpeningBtn.text(original_text);
 		} else {
 			window.location.replace('/stock/opening')
 		}
 	});
});

function computeValues(element) {
	
	var each = [];
	var subtotal = 0.00;
	
	$.each($(element).closest("tr"), function() {
		
		$(this).find("select, input").each(function() {
			each[$(this).attr("id")] = $(this).val();
		});

	});

	subtotal = each.quantity * each.unitCost;
	
	$(element).closest("tr").find("#subtotal").html(round2DecimalPlaces(subtotal));
	computeGrandTotal();
}

/* function remove(e) {
	var selected_row = $(e).parentsUntil("tbody");
	var total = selected_row.find("#txtQuantity").val() * selected_row.find("#txtUnitCost").val();
	
	grand_total = grand_total - total;
	
	$("#grandTotal").html(grand_total);
	$(e).parentsUntil("tbody").remove();
} */

function computeGrandTotal() {
	
	var grand_total = parseFloat(0);
	
	$('#itemsTable > tbody  > tr').each(function() {
		grand_total = (parseFloat(grand_total) + parseFloat($(this).find("#subtotal").text())).toFixed(2);
	});
	
	$("#grandTotal").html(round2DecimalPlaces(grand_total));
}
	/*]]>*/
  </script>
</head>
<body>