<div class="row">
	<div class="col-lg-12">
		<!-- <div th:text="${stockOpening}"></div> -->
				
		<div class="panel panel-default">
			<div class="panel-heading">
				
				<div class="row">
					<h4 class="col-md-2" th:text="'System # ' + ${stockOpening.systemNumber}"></h4> 
					<a th:href="@{/stock/opening}" type="button" class="btn btn-outline btn-default">Back to List</a>
				</div>
			</div>
			<div class="panel-body">

				<div class="table-responsive">
				
					<table class="table table-bordered table-striped">
						<tbody>
							<tr>
								<td class="col-md-3">
								
									<div class="input-group">
										<span class="input-group-addon">Date</span>
										<span class="form-control" th:text="${stockOpening.transactionDate}"></span>
									</div>
								
								</td>
								<td class="col-md-3">
								
									<div class="input-group">
										<span class="input-group-addon">Document #</span>
										<span class="form-control" th:text="${stockOpening.documentNumber}"></span>
									</div>
								</td>
								<td class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Location</span>
										<span class="form-control" th:text="${stockOpening.location.name}"></span>
									</div>
								</td>
							</tr>
							
							<tr>
								<td colspan="3">
									<div class="input-group col-md-12">
										<span class="input-group-addon">Description</span>
										<span class="form-control" th:text="${stockOpening.description}"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
						
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>SN</th>
								<th>Code</th>
								<th>Description</th>
								<th>Unit</th>
								<th>U.Desc</th>
								<th>Quantity</th>
								<th>Unit Cost</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
						
							<tr:block th:each="stockOpeningItem : ${stockOpening.items}">
								<th th:text="${stockOpeningItem.item.id}"></th>
								<td th:text="${stockOpeningItem.item.code}"></td>
								<td th:text="${stockOpeningItem.item.name}"></td>
								<td th:text="${stockOpeningItem.unit.abbreviation}"></td>
								<td th:text="${stockOpeningItem.unit.name}"></td>
								<td th:text="${stockOpeningItem.rateQuantity}"></td>
								<td th:text="${stockOpeningItem.unitCost}"></td>
								<th class="text-right" th:text="${stockOpeningItem.unitCostTotal}"></th>
							</tr:block>

						</tbody>
						<tfoot>
							<tr>
								<th colspan="6"></th>
								<th><h3>Total<h3></h3></th>
								<th><h3 class="text-right" th:text="${stockOpening.total}"></h3></th>
							</tr>
						</tfoot>
					</table>
					
				</div>

			</div>
		</div>
		
		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>
<body>
 
