<div class="menu_section">
		<h3><a href="#">Back</a></h3>
		<h2>Settings</h2>
		<ul class="nav side-menu">
		
			<li><a th:href="@{/inventory}"><i class="fa fa-building fa-fw"></i> Organization Profile</a></li>
			<li><a th:href="@{/locations}"><i class="fa fa-users fa-fw"></i> Users & Roles</a></li>
			<li><a th:href="@{/locations}"><i class="fa fa-map-marker fa-fw"></i> Locations</a></li>
			<li><a th:href="@{/locations}"><i class="fa fa-gears fa-fw"></i> Preferences</a></li>
			<li><a th:href="@{/settings/currencies}"><i class="fa fa-usd fa-fw"></i> Currencies & Rates</a></li>
			
		</ul>
</div>
