<div class="row">
	<div class="col-lg-12">
		<form th:object="${stockAdjustmentForm}" id="stockAdjustmentForm"
			th:action="@{/api/stock/adjustment}" method="POST">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8">
							<h4>Cancel Sales Invoice</h4>
						</div>
						<div class="col-md-4">
							<div class="btn-group pull-right" role="group">
								<button type="submit" id="submitStockAdjustmentBtn"
									class="btn btn-success btn-sm">Save Stock Adjustment</button>
								<a th:href="@{/stock/adjustment}" class="btn btn-default btn-sm">Cancel</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div class="form-group" id="errors"></div>
					<!-- <div th:text="${salesInvoice}"></div>
					<div th:text="${salesInvoice.salesInvoiceItems}"></div> -->
					
					<div class="col-md-12">
						<div class="col-md-2">
							<label>Mode of Adjustment :</label>
						</div>
						<div class="col-md-10">
							<input type="radio" checked="checked" th:value="${T(com.bartolay.inventory.enums.StockAdjustmentType).QUANTITY}"
								id="adjustmentType" name="adjustmentType"> Quantity
							Adjustment<br> </label>
							<br>
						</div>

					</div>


					<div class="col-md-3">
						<label>System Number :</label> <div class="form-control" th:text="${salesInvoice.systemNumber}"></div> <label>Document
							Number :</label> <div type="text" class="form-control" th:text="${salesInvoice.documentNumber}"></div>
					</div>

					<div class="col-md-3">
						<label>Transaction Date</label> <div th:text="${salesInvoice.transactionDate}" class="form-control"></div> <label>Year</label> 
						<div class="form-control" th:text="${salesInvoice.year}"></div>
					</div>

					<div class="col-md-3">
						<label>Reason</label>
						
						<select class="form-control"
							th:field="*{reason}">
							<option th:value="${cancelled_reason.code}" th:text="${cancelled_reason.description}"></option>
						</select>
						<label>Location </label> <div class="form-control" th:text="${salesInvoice.location.name}"></div>
					</div>
					<div class="col-md-12">
						<label>Description</label> 
						<div th:text="${salesInvoice.description}" class="form-control"></div>
					</div>
					<div class="clearfix"></div>
					<br>
					
					<div class="table-responsive col-md-12">

						<table class="table table-bordered table-striped" id="itemsTable">
							<thead>
								<tr>
									<th>SN</th>
									<th class="col-md-1">Code</th>
									<th class="col-md-3">Description</th>
									<th>Unit</th>
									
									<th class="col-md-2 text-right hidden" id="quantity_1">Stock On Hand</th>
									<th class="col-md-2 text-right hidden" id="quantity_2">New Quantity On Hand</th>
									<th class="col-md-2 text-right hidden" id="quantity_3">Quantity Adjusted</th>
									
									
									<th class="col-md-2 text-right hidden" id="cost_1">Current Cost</th>
									<th class="col-md-2 text-right hidden" id="cost_2">Changed Cost</th>
									<th class="col-md-2 text-right hidden" id="cost_3">Adjusted Cost</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="salesInvoiceItem : ${salesInvoice.salesInvoiceItems}">
									<td th:text="${salesInvoiceItem.id}"></td>
									<td th:text="${salesInvoiceItem.inventory.item.code}"></td>
									<td th:text="${salesInvoiceItem.inventory.item.name}"></td>
									<td th:text="${salesInvoiceItem.inventory.unit.name}"></td>
									<td class="text-right" th:text="${salesInvoiceItem.inventory.quantity}"></td>
									<td class="text-right" th:text="${salesInvoiceItem.inventory.quantity.add(salesInvoiceItem.quantity)}"></td>
									<td class="text-right" th:text="${salesInvoiceItem.quantity}"></td>
								</tr>							
							</tbody>

						</table>

					</div>

				</div>
			</div>

		</form>
	</div>
	<!-- /.col-lg-12 -->
</div>