<!-- Modal Edit Brand -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form data-async data-target="#rating-modal"
				id="itemModal_addItemForm" 
				th:action="@{/api/stockOpening/item}" method="POST">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="itemModal_label"></h4>
				</div>

				<div class="panel-body">
				
					<table class="table table-bordered table-striped">
						<tbody>
							<tr>
								<td>
								
									<div class="input-group">
										<span class="input-group-addon">Item</span>
										<select class="form-control" id="itemModal_item" name="itemModal_item">
											<option value="">------</option>
										</select>
									</div>
								
								</td>
							</tr>
							<tr>
								<td>
								
									<div class="input-group">
										<span class="input-group-addon">Unit</span>
										<select class="form-control" id="itemModal_unit" name="itemModal_unit" disabled="disabled">
											
										</select>
										 
									</div>
								
								</td>
							</tr>
							<tr>
								<td>
								
									<div class="input-group">
										<span class="input-group-addon">Quantity</span>
										<input class="form-control" type="number" value="0" id="itemModal_quantity" name="itemModal_quantity" disabled="disabled"/>
									</div>
								
								</td>
							</tr>
						</tbody>
					</table>
				
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" id="itemModal_addItemBtn"
						class="btn btn-success btn-primary" disabled="disabled">Add Item</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
	var isLoadedModelItems = false;
	
	var modal = $("#itemModal");
	var modal_label = $("#itemModal_label");
	var item = $("#itemModal_item");
	var unit = $("#itemModal_unit");
	
	var quantity = $("#itemModal_quantity");
	var addItemForm = $("#itemModal_addItemForm");
	var addItemBtn = $("#itemModal_addItemBtn");
	
	var items = {};
	var itemUnits = {};
	
	function addItem(label, callback) {
		modal_label.text(label);
		modal.modal('show');

		modal.on('shown.bs.modal', function() {
			
			if(!isLoadedModelItems) {
				GET("/api/items", function(data) {
					console.log(data);
					items = data;
					$.each(data, function(i, obj) {
						$('#itemModal_item option:last').after('<option value="'+ i +'">'+ obj.name +'</option>');
					});
					isLoadedModelItems = true;
				});
			}
		});
		
		item.change(function() {
			
			var item_id = $(this).val();
			
			GET("/api/itemUnits/" + items[item_id].id, function(data) {
				unit.html(""); // clear contents
				unit.removeAttr("disabled");
				quantity.removeAttr("disabled");
				
				var response = JSON.parse(data);
				itemUnits = response.data;
				console.log(itemUnits);
				$.each(response.data, function(i, obj) {
					unit.append('<option value="'+ i +'">'+ obj['abbreviation'] +' (' + obj['rate'] + ') '+ (obj['default'] ? '*' : '') +'</option>');
				});
				
			});
		});
		
		unit.change(function() {
			quantity.removeAttr("disabled");
		});
		
		unit.change(function() {
			addItemBtn.removeAttr("disabled");
		});
		
		addItemBtn.click(function() {
			modal.modal('hide');
			
			var arr = {};
			
			var iter = addItemForm.serializeArray();
			
			$.each(addItemForm.serializeArray(), function(i, obj) {
				arr[obj.name] = obj.value;
			});
			
			arr['item'] = items[arr['itemModal_item']];
			arr['unit'] = itemUnits[arr['itemModal_unit']];
			arr['quantity'] = arr['itemModal_quantity'];
			
			callback(arr);
			

			quantity.val(0);
			quantity.attr("disabled", "disabled");
			unit.html("");
			unit.attr("disabled", "disabled");
		});
	}
</script>