<!-- manage Reasons-->
<div class="modal fade" id="confirmDeleteModal" tabindex="1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		       <input type="hidden" id="stockAdjustmentModalReasonId" />
		    <div class="modal-header">
		        <button type="button" class="close" onClick="cancelConfirmDelete()" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
		    </div>
		
		    <div class="modal-body">
		    	<div id="confirmDeleteModalErrors"></div>
		        <p>You are about to delete <b id="recordName"></b>, this procedure is irreversible.</p>
		        <p>Do you want to proceed?</p>
		        <p class="debug-url"></p>
		    </div>
		    
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" onClick="cancelConfirmDelete()">Cancel</button>
		        <button class="btn btn-danger" onClick="confirmDelete(this)">Delete</button>
		    </div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg"
	id="stockAdjustmentReasonModal" tabindex="-1" role="dialog"
	aria-hidden="true" style="display: none;">

	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">x</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="fa fa-gears"></span> Manage Stock Adjustment Reasons
				</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-12">
					<form th:object="${stockAdjustmentReasonForm}" id="stockAdjustmentReasonForm">
						<div id="stockAdjustmentReasonErrors"></div>
						<label>Reason*</label> <input type="text" th:field="*{description}" id="addReasonDescription"
							class="form-control" /> <br>
						<button class="btn btn-success btn-sm" id="btnAddReason">Create
							and Select Reason</button>
					</form>
				</div>
				<div class="col-md-12 ln_solid"></div>
				<table class="table table-striped bulk_action"
					id="stockAdjustmentReasonTable">
					<thead>
						<tr class="headings">
							<th class="column-title" style="display: table-cell;">Description</th>
							<th></th>

						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script>
	var stockAdjustmentReasonModal = $("#stockAdjustmentReasonModal");
	var stockAdjustmentReasonTable = $("#stockAdjustmentReasonTable tbody");
	var stockAdjustmentReasonForm = $("#stockAdjustmentReasonForm");
	
	var confirmDeleteModal = $("#confirmDeleteModal");
	var btnConfirmDelete = $("#btnConfirmDelete");
	
	var btnAddReason = $("#btnAddReason");
	var btnAddReasonText = btnAddReason.text();
	var callback;

	function manageReasons(parameters, cb) {
		callback = cb;
		stockAdjustmentReasonModal.modal("show");
	}
	
	stockAdjustmentReasonModal.on('shown.bs.modal', function() {
		
		$("#addReasonDescription").val("");
		btnAddReason.removeAttr("disabled");
		btnAddReason.text(btnAddReasonText);
		
		GET("/api/stock/adjustment/reasons",function (data) {
            console.log(data);
            var html = "";
            for(var i = 0; i < data.length; i++) {
            	html += `
            	<tr>
            		<td>`+ data[i].description +`</td>
            		<td class="text-right"><button class="fa fa-close" 
            		onClick="showConfirmDeleteModal(this)"
            		style="color: red"></button>
            		<input type="hidden" id="reason_id" value="`+ data[i].id +`" />
            		</td>
            	</tr>`;
            }
            
            stockAdjustmentReasonTable.html(html);
        });
		
	});
	
	btnAddReason.on("click", function() {

	 	btnAddReason.attr("disabled", "disabled");
	 	btnAddReason.text("Processing....");
		
	 	var serialized_data = stockAdjustmentReasonForm.serialize();
	 	
		POST("/api/stock/adjustment/reasons", serialized_data, function(data) {
	 		if(data.status != "OK") {
	 			displayErrors(data, $("#stockAdjustmentReasonErrors"));
	 			btnAddReason.removeAttr("disabled");
	 			btnAddReason.text(btnAddReasonText);
	 		} else {
	 			callback(data);
	 			stockAdjustmentReasonModal.modal("hide");
	 		}
	 	});
	});
	
	function confirmDelete(e){
		var reason_id = $(e).parentsUntil("#confirmDeleteModal").find("#stockAdjustmentModalReasonId").val();
		
		DELETE("/api/stock/adjustment/reasons/"+reason_id, function(data) {			
			console.log("asdadadada");
			console.log(data);
			console.log(data.status);
			if(data.status != "OK") {
	 			displayErrors(data, $("#confirmDeleteModalErrors"));
	 			//btnAddReason.removeAttr("disabled");
	 			//btnAddReason.text(btnAddReasonText);
	 		} else {
	 			callback(data);
	 			showToast(data);
	 			confirmDeleteModal.modal("hide");
	 			stockAdjustmentReasonModal.modal("show");
	 		}
		});
	}
	
	function cancelConfirmDelete() {
		confirmDeleteModal.modal("hide");
		stockAdjustmentReasonModal.modal("show");
	}
	
	function showConfirmDeleteModal(e) {
		var row = $(e).parentsUntil("tbody");
		var reason_id = row.find("#reason_id").val();
		console.log(row);
		
		stockAdjustmentReasonModal.modal("hide");
		confirmDeleteModal.find("#stockAdjustmentModalReasonId").val(reason_id);
		confirmDeleteModal.modal("show");
	}
	
	function deleteReason(e) {
		var row = $(e).parentsUntil("tbody");
		
		row.remove();
	}
</script>