<div class="modal fade bs-example-modal-lg in" id="newSupplierModal"
	tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">x</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="fa fa-gears"></span> New Supplier
				</h4>
			</div>
			<div class="modal-body">				

				<form id="newSupplierForm" th:object="${supplierForm}">
				<div id="newSupplierErrors"></div>
					<div class="col-md-12">
						<label>Company Name*</label> <input type="text"
							th:field="*{company_name}" class="form-control" />
					</div>
					<div class="col-md-4">
						<label>Contact Email</label> <input type="text"
							th:field="*{contact_email}" class="form-control" /> <label>Contact
							Phone</label> <input type="text" th:field="*{contact_phone}"
							class="form-control" />
					</div>
					<div class="col-md-4">
						<label>Contact Mobile</label> <input type="text"
							th:field="*{contact_mobile}" class="form-control" /> <label>Skype
							Name/Number</label> <input type="text" th:field="*{skype_name}"
							class="form-control" />
					</div>
					<div class="col-md-4">
						<label>Website</label> <input type="text" th:field="*{website}"
							class="form-control" />
					</div>
					<div class="col-md-12 ln_solid"></div>
					<div class="col-md-12" role="tabpanel"
						data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							<li role="presentation" class="active"><a
								href="#tab_content1" id="payment-tab" role="tab"
								data-toggle="tab" aria-expanded="true">Payment Details</a></li>
							<li role="presentation" class=""><a href="#tab_content2"
								role="tab" id="address-tab" data-toggle="tab"
								aria-expanded="false">Address</a></li>
							<li role="presentation" class=""><a href="#tab_content3"
								role="tab" id="profile-tab2" data-toggle="tab"
								aria-expanded="false">Notes</a></li>
						</ul>


						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane active fade in"
								id="tab_content1" aria-labelledby="payment-tab">

								<div class="col-md-12">
									<label>Currency</label> <input type="text"
										th:field="*{currency}" class="form-control" /> <label>Facebook</label>
									<input type="text" class="form-control" /> <label>Twitter</label>
									<input type="text" th:field="*{twitter}" class="form-control" />
								</div>

							</div>

							<div role="tabpanel" class="tab-pane fade" id="tab_content2"
								aria-labelledby="address-tab">

								<div class="col-md-6">
									<h4>Billing Address</h4>

									<label>Address</label>
									<textarea class="form-control" th:field="*{billingAddress}"></textarea>
									<label>City</label> <input type="text" class="form-control"
										th:field="*{billingCity}" /> <label>State</label> <input
										type="text" class="form-control" th:field="*{billingState}" />
									<label>Zip Code</label> <input type="text" class="form-control"
										th:field="*{billingZipCode}" /> <label>Country</label> <input
										type="text" class="form-control" /> <label>Fax</label> <input
										type="text" class="form-control" th:field="*{billingFax}" />
									<label>Phone</label> <input type="text" class="form-control"
										th:field="*{billingPhone}" />
								</div>
								<div class="col-md-6">
									<h4>Shipping Address</h4>

									<label>Address</label>
									<textarea class="form-control" th:field="*{shippingAddress}"></textarea>
									<label>City</label> <input type="text" class="form-control" />
									<label>State</label> <input type="text" class="form-control"
										th:field="*{shippingState}" /> <label>Zip Code</label> <input
										type="text" class="form-control" th:field="*{shippingZipCode}" />
									<label>Country</label> <input type="text" class="form-control"
										th:field="*{shippingCountry}" /> <label>Fax</label> <input
										type="text" class="form-control" th:field="*{shippingFax}" />
									<label>Phone</label> <input type="text" class="form-control"
										th:field="*{shippingPhone}" />
								</div>

							</div>
							<div role="tabpanel" class="tab-pane fade" id="tab_content3"
								aria-labelledby="profile-tab">
								<div class="col-md-12">
									<div class="col-md-8">
										<label>Notes (for Internal use)</label>
										<textarea class="form-control" th:field="*{notes}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-success btn-sm" id="btnAddNewSupplier">Create
					and Select Supplier</button>
			</div>

		</div>
	</div>
</div>


<script>
	var newSupplierModal = $("#newSupplierModal");
	var btnAddNewSupplier = $("#btnAddNewSupplier");
	var btnAddNewSupplierText = btnAddNewSupplier.text();
	
	var newSupplierForm = $("#newSupplierForm");
	
	var callback;

	function newSupplier(parameters, cb) {
		callback = cb;
		newSupplierModal.modal("show");
	}
	
	newSupplierModal.on('shown.bs.modal', function() {
		
	});
	
	btnAddNewSupplier.on("click", function() {
		
		var serialized_data = newSupplierForm.serialize();
		
		POST("/api/suppliers", serialized_data, function(data) {

			if(data.status != "OK") {
	 			displayErrors(data, $("#newSupplierErrors"));
	 			btnAddNewSupplier.removeAttr("disabled");
	 			btnAddNewSupplier.text(btnAddNewSupplierText);
	 		} else {
	 			callback(data);
	 			stockReceivedExpenseModal.modal("hide");
	 		}
		});
	});
	
	
	
</script>